@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: hsla(37, 31%, 95%, 0);
}

::-webkit-scrollbar-thumb {
  background: #ea9a38;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fffae4e9;
}